// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  width: 100%;
  margin: 100px auto 0 auto;
}

body {
  text-align: center;
}

a {
  text-decoration: none;
  color: #00a79d;
}

a:hover {
  text-decoration: underline;
  color: #3e64ff;
}
ul li {
  list-style-type: none;
  font-size: 22px;
}

.add-form {
  color: #f5c181;
}

.add-form :hover{
 color: #007065;
}

.btn {
  margin-bottom: 48px;
}

.top-page {
  display: flex;
  justify-content: space-between;
}

.details {
  padding: 12px;
  background-color: #faf5ef;
  box-shadow: 1px 1px 1px #d7d1c9;
  text-align: left;
  margin-bottom: 32px;
  border-radius: 4px;
}

.completed {
  font-weight: bold;
  text-align: left;
  border-bottom: 1px solid #d7d1c9;
  margin-bottom: 24px;
}

h1 {
  color: #61234e;
}

.field {
  text-align: left;
}

.list {
  background-color: #faf5ef;
  box-shadow: 1px 1px 1px #d7d1c9;
}
